<header>
  <div class="head-container">
    <h1 class="title">Pokedex</h1>
    <style type="text/css">


    </style>
      <nav class="links">
        <ul>
          <a href="/pokemon">
            <li><button class="index">All Pokemon</button></li>
          </a>
          <a href="/pokemon/new">
            <li><button class="new">Add a New Pokemon</button></li>
          </a>
        </ul>
      </nav>
      
    </div>
  </div>
</header>
